In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('basic2').getOrCreate()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/opt/anaconda3/lib/python3.9/site-packages/pyspark/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/02/06 15:44:13 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/02/06 15:44:14 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
df = spark.read.json('people.json')

In [4]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [5]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [6]:

type(df['age'])

pyspark.sql.column.Column

In [7]:
#select method return dataframe
df.select('age')

DataFrame[age: bigint]

In [8]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [9]:
type(df.select('age'))

pyspark.sql.dataframe.DataFrame

In [16]:
#get first 2 row of the data, it returns list of rows
df.head(2)

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [11]:
df.head(2)[0]

Row(age=None, name='Michael')

In [12]:
type(df.head(2)[0])

pyspark.sql.types.Row

In [17]:
# return a data frame with multiple column
df.select(['age','name'])

DataFrame[age: bigint, name: string]

In [14]:
df.select(['age','name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [19]:
## add a new column with some values and these changes are not permanent
df.withColumn('double_age', df['age'] * 2).show()

+----+-------+----------+
| age|   name|double_age|
+----+-------+----------+
|null|Michael|      null|
|  30|   Andy|        60|
|  19| Justin|        38|
+----+-------+----------+

In [18]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [21]:
# rename a column name
df.withColumnRenamed('age','new_age').show()

+-------+-------+
|new_age|   name|
+-------+-------+
|   null|Michael|
|     30|   Andy|
|     19| Justin|
+-------+-------+

In [22]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [23]:
# create a temporary view and run a sql query
df.createOrReplaceTempView('people')

In [24]:
results = spark.sql("select * from people")

In [25]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [26]:
type(results)

pyspark.sql.dataframe.DataFrame

In [27]:
new_results = spark.sql("select * from people where age = 30")

In [28]:
new_results

DataFrame[age: bigint, name: string]

In [29]:
new_results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+